<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>ui-map-qq by anypossiblew</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/google-code-prettify/bin/prettify.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/google-code-prettify/bin/prettify.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-utils/event.min.js"></script>
    <script src="bower_components/angular-ui-map-qq/ui-map.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/app.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

      <script>
          $(window).load(function(){
              $("pre").addClass("prettyprint");
              prettyPrint();
          });
      </script>
  </head>
  <body ng-app="githubApp" ng-controller="MapCtrl" ui-map-async-load onload="prettyPrint()">

      <header>
        <h1>angularjs-ui-map-qq</h1>
        <p>qq map for angular ui</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="https://github.com/anypossiblew/ui-map-qq" class="button fork"><strong>View On GitHub</strong></a>
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="https://github.com/anypossiblew/ui-map-qq/zipball/master" class="button">ZIP</a></li>
            <li><a href="https://github.com/anypossiblew/ui-map-qq/tarball/master" class="button">TAR</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        <h1>
            <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
                <span class="octicon octicon-link"></span>
            </a>Welcome to angularjs qq map.
        </h1>
        <h2>预览angularjs展现qq map实例</h2>

          <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
               ui-event="{'map-click': 'openMarkerInfo(marker)'}">
          </div>

          <div ui-map-info-window="myInfoWindow">
              <h3>Marker</h3>
              Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">
              <a class="btn btn-primary"
                 ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>
          </div>

          <div class="map-canvas">
              <div class="ui-map"
                   ui-map="myMap"
                   ui-event="{'map-click': 'addMarker($event, $params)', 'map-idle': 'setZoomMessage(myMap.getZoom())' }"
                   ui-options="mapOptions">
              </div>
              <div class="place-holder" ng-hide="showMap">
                  地图异步加载中...
              </div>
          </div>

          <div>
              map zoom: {{zoomMessage}}
          </div>

          <h2>安装angular-ui-map-qq插件</h2>
          <p>可以使用<a href="http://bower.io/">bower</a>工具安装</p>
<pre>
    bower install angular-ui-map-qq
</pre>
          <p>
              这样会在bower的依赖文件夹（如bower_components）里添加angular-ui-map-qq插件与其依赖插件的文件，
              然后在你html中加入script标签如下
          </p>
<pre>
&lt;script type="text/javascript" src="bower_components/angular/angular.js"&gt;&lt;/script&gt;<br />&lt;script type="text/javascript" src="bower_components/angular-ui-utils/modules/event/event.js"&gt;&lt;/script&gt;<br />&lt;script type="text/javascript" src="bower_components/angular-ui-map-qq/ui-map.js"&gt;&lt;/script&gt;
</pre>
          <p>
              如果没有使用异步加载地图，还需加入地图链接
          </p>
<pre>
&lt;script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=YOUR_KEY"&gt;&lt;/script&gt;
</pre>
          <h2>添加为angularjs依赖</h2>
          <p>
              在你的angular module中加入ui.map依赖 如下
          </p>
<pre>
var myAppModule = angular.module('app.ui-map', ['ui.map']);
</pre>
          <p>
              最后则可以在你的html使用ui.map的directive
          </p>
<pre>
&lt;section id="map" ng-controller="MapCtrl" &gt;<br />  &lt;div ui-map="myMap" ui-options="mapOptions" class="map-canvas"&gt;&lt;/div&gt;<br />&lt;/section&gt;
</pre>
          <h2>
              异步加载地图
          </h2>
          <h3>方法一</h3>
          <p>
              加载qq地图时添加<a href="http://open.map.qq.com/javascript_v2/case-run.html#sample-map-async">异步加载地图的监听回调函数</a>
              如下面代码，函数命名为init，在init函数里加载angular app。关于angular.bootstrap参见<a href="http://docs.angularjs.org/api/angular.bootstrap">angular.bootstrap</a>
          </p>
<pre>
  function init() {
    angular.bootstrap(document.getElementById("map"), ['app.ui-map']);
  }
</pre>
          <h3>方法二</h3>
<p>使用angularjs的config进行配置异步加载地图的参数，在config方法里加入provider依赖uiMapLoadParamsProvider，并设置加载地图链接所需参数：</p>

<pre>
myAppModule.config(['uiMapLoadParamsProvider', function (uiMapLoadParamsProvider) {
                  uiMapLoadParamsProvider.setParams({
                      v: '2.0', // 版本号
                      key:'ZYZBZ-WCCHU-ETAVP-4UZUB-RGLDJ-XXXX' // 你地图供应商那里注册的key
                  });
            }])
</pre>

<p>并在html顶层dom加上ui-map-async-load，使其包含ui-map</p>
<pre>
&lt;body ng-controller="MapCtrl" ui-map-async-load&gt;<br />  &lt;div ui-map="myMap" ui-options="mapOptions" class="map-canvas"&gt;&lt;/div&gt;<br />&lt;/body&gt;
</pre>

          <h2>详细使用details</h2>
<pre>
&lt;section id="map" ng-controller="MapCtrl" &gt;<br />  &lt;div ui-map="myMap" ui-options="mapOptions" class="map-canvas"&gt;&lt;/div&gt;<br />&lt;/section&gt;
</pre>
          <p>
              这里的myMap将是MapCtrl controller的$scope里的一个变量，它是<a href="http://open.map.qq.com/javascript_v2/doc/map.html">qq.maps.Map class</a>的一个实例对象。
              mapOptions则是设置map配置选项的对象变量，它是一个<a href="http://open.map.qq.com/javascript_v2/doc/mapoptions.html">qq.maps.MapOptions object</a>。
          </p>
          <p>
              还需要设置地图的大小
          </p>
          <pre>
.map-canvas { height: 400px; }
          </pre>
          <h3>Options</h3>
            <p>
                在controller里的$scope上设置<a href="http://open.map.qq.com/javascript_v2/doc/mapoptions.html">qq.maps.MapOptions object</a>可以通过ui-map directive的ui-options属性传给地图
            </p>
          <pre>
myAppModule.controller('MapCtrl', ['$scope', function ($scope) {
    $scope.mapOptions = {
      center: new qq.maps.LatLng(lat, lng),
      // ui map config
      uiMapCache: true // (mobile app适用)是否使用缓存来缓存此map dom，而不是每次链接跳转来都重新创建
    };
  }]);
          </pre>

          <h3>UI.Event</h3>
          <p>
              使用<a href="http://angular-ui.github.io/ui-utils/#/event">UI.Event</a>插件可以自定义用户操作事件的响应处理逻辑，只需要在原事件名前加上'map-'以绑定响应事件。
              例如地图的'click'或'idle'事件可以使用UI.Event对象的key 'map-click'或'map-idle'来绑定事件，如下代码
          </p>
          <pre>
&lt;section id="map" ng-controller="MapCtrl" &gt;<br />  &lt;div  ui-map="myMap"ui-options="mapOptions" class="map-canvas"<br />        ui-event="{'map-click': 'addMarker($event, $params)', 'map-idle': 'setZoomMessage(myMap.getZoom())' }"<br />  &gt;&lt;/div&gt;<br />&lt;/section&gt;
          </pre>

          <p>
              <b>如需添加复杂逻辑，可以通过$scope.myMap获取地图对象后，对其进行复杂操作</b>
          </p>

      </section>
      <footer>
        <p>Project maintained by <a href="https://github.com/anypossiblew">anypossiblew</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("ZH-3274668-6");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>